@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family:"Nunito", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffcad4;
}

#counter{
    background-color:#964fcd;
    padding: 2rem;
    border-radius: 8px;
}

#value{
    font-size: 8rem;
    color: aliceblue;
    min-width: 8rem;
    align-items:center;
    justify-content: center;
    display: flex;
}

button{
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-weight:500;
    cursor:pointer;
    background-color: rgb(141, 29, 152);
    width: 100%;
    font-size: 20px;
    margin-top: 1rem;
    
}

button:hover{
    opacity: .8;
}
